- if step.offer_gift_wrapping?
  .checkout-shipping__section
    %h2.checkout-shipping__heading= t('workarea.storefront.checkouts.gift_wrapping')
    - field_name = step.shippings.many? ? "shippings[#{step.shipping.id}][gift_wrapping]" : 'gift_wrapping'

    %ul.product-list{ data: { analytics: product_list_analytics_data('Cart').to_json } }
      - cart.items.each_with_index do |item, index|
        %li.product-list__item
          .product-list__item-cell
            .product-list__summary
              %p.product-list__media= link_to image_tag(product_image_url(item.image, :small_thumb), alt: item.product_name, class: 'product-list__media-image'), product_url(item.product, sku: item.sku), class: 'product-list__media-link'
              .product-list__info
                %p.product-list__name= link_to item.product_name, product_path(item.product, sku: item.sku)
                %p.product-list__id= item.sku_name
                %p.product-list__inventory-status= item.inventory_status
                - if item.has_options?
                  .product-list__option-group
                    - item.details.each do |name, value|
                      %p.product-list__option #{name.titleize}: #{value}
                - item.customizations.each do |name, value|
                  %p.product-list__customization #{name.titleize}: #{value}
                .grid.grid--auto
                  .grid__cell
                    - if !item.allow_gift_wrapping?
                      %span.text= t('workarea.storefront.checkouts.gift_wrapping_unavailable')

                    - else
                      .inline-form__cell{ data: { checkout_shipping_service: '' } }
                        = label_tag "#{field_name}[#{item.id}][gift_wrap]", nil, class: 'name' do
                          %span.text= t('workarea.storefront.checkouts.gift_wrapping')
                        .value= select_tag "#{field_name}[#{item.id}][gift_wrap]", options_for_select(step.gift_wrapping_options, item.gift_wrap_id), title: t('workarea.storefront.checkouts.gift_wrapping_title', name: item.product_name), data: { checkout_shipping_service_option: '' }

- if step.content_blocks_for('gift_wrapping').present?
  = render_content_blocks(step.content_blocks_for('gift_wrapping'))
